* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

.container {
    width: 940px;
    margin: 0 auto;
    }

    

body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

/*Header*/
.header-container {
    margin-bottom: 90px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav {
    max-width: 510px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
}

.nav-link {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    max-width: 490px;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: rgb(122, 122, 122);
    padding-bottom: 10px;
    position: relative;
}

.nav-link:hover {
    color: rgb(254, 209, 54);
    transition: .3s ease-in-out;
}

.logo {
    width: 90px;
    height: 30px;
    }
    

/*Main
Services
*/
.title {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: rgb(60, 60, 60);
    position: relative;
}

.text {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto';
}


.services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
 
}

.services-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 280px;
    max-height: 270px;
    position: relative;
    padding-top: 145px;
    margin-bottom: 100px;
    text-align: center;
   
}

.text-content-services {
    font-family: 'Roboto';
    font-size: 14px;
    padding: 0 10px;
}

.item-name {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
    width: 100%;

}

.box-icon {
    position: absolute;
    background-image: url(./icon/Icon-Basket.png);
    background-repeat: no-repeat;
    left: 50%; 
    transform: translateX(-50%);
    top: 30px;
    height: 72px;
    width: 72px;
    border: 2px solid #fed136;
    border-radius: 50%;
    background-position: center;
}

.computer-icon {
    position: absolute;
    background-image: url(./icon/Icon-Laptop.png);
    background-repeat: no-repeat;
    left: 50%; 
    transform: translateX(-50%);
    top: 30px;
    height: 72px;
    width: 72px;
    border: 2px solid #fed136;
    border-radius: 50%;
    background-position: center;
}

.lock-icon {
    position: absolute;
    background-image: url(./icon/Icon-Locked.png);
    background-repeat: no-repeat;
    left: 50%; 
    transform: translateX(-50%);
    top: 30px;
    height: 72px;
    width: 72px;
    border: 2px solid #fed136;
    border-radius: 50%;
    background-position: center;
}


/*Footer*/

.footer {
    background-color: rgb(34, 34, 34);
    background-image: url(./img/Map-image.png); 
    background-repeat: no-repeat;
    background-position: right;
    padding: 110px 0 115px;
}

.title-footer {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    color: rgb(255, 255, 255);    
}

.text-content-footer {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.holder-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 210px;
    width: 100%;
    margin-bottom: 30px;
}

.input {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 20px;
    align-items: center;
    width: 445px;
    height: 60px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 2px;
    background-position: center;
}

.textarea {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
    width: 445px;
    height: 210px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 2px;
    background-position: center;
}

.button {
    height: 66px;
    width: 240px;
    background-color: #fed136;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #fed136;
    border-radius: 2px;
    background-position: center;
}